# Ignore build & generated folders
dist/
build/
config/

# Ignore executables
*.exe

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/

# Ignore virtual environments
venv/
env/
.venv/

# Ignore IDE
.vscode/
.idea/
*.swp
*.swo

# Ignore logs
*.log

# Ignore OS files
.DS_Store
Thumbs.db
